<div class="table-responsive col-sm-auto">
    <div class="accordion accordion-flush" id="accordionSchemeAdd">
        <table>
            <tbody>
            <tr>
                <th scope="row">Dropdown List:</th>
                <td>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading-list">
                            <button id="list-button" class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse-list"
                                    aria-expanded="false"
                                    aria-controls="flush-collapse-list"
                            >Select One
                            </button>
                        </h2>
                        <div id="flush-collapse-list" class="accordion-collapse collapse">
                            <div id="subMenuContainerProductFile" class="accordion-body">
                                <div style="border: #2f4050">
                                    <div>
                                        <table id="file-table">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="radio"
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#flush-collapse-list"
                                                           aria-expanded="false"
                                                           aria-controls="flush-collapse-update"
                                                    />
                                                </td>
                                                <td>name1</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio"
                                                           data-bs-toggle="collapse"
                                                           data-bs-target="#flush-collapse-list"
                                                           aria-expanded="false"
                                                           aria-controls="flush-collapse-update"
                                                    />
                                                </td>
                                                <td>name2</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
